.project-section{
    position: relative !important;
    padding-top: 150px !important;
    padding-bottom: 30px !important;

}
.project-heading{
  font-size: 2.3em !important;
  font-weight: 500 !important;
  padding-top: 10px !important;

}
.project-card{
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    height: auto !important;

}

.main-name{
  color: #16a085;
}