.project-heading{
    font-size: 2.3em !important;
    font-weight: 500 !important;
    padding-top: 10px !important;
    margin-bottom: 20px !important;

}
.main-name{
    color: #16a085;
}
.blog-section{
    position: relative !important;
    padding-top: 110px !important;
    padding-bottom: 30px !important; 
}